.container {
    width: 40%;
    margin: 50px auto;
}

.tableContainer {
    width: 80%;
    margin: 50px auto;
}

.fullWidth {
    width: 100%;
}

.halfWidth {
    width: 80%;
}

.mainNav {
    height: 100px;
    padding: 10px;
}

.center {
    width: 10rem;
    margin: 0 auto;
}

.centerText {
    text-align: center;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

.centerButton {
    text-align: center;
    margin-top: 20px;
}

.iconHover {
    cursor: pointer;
}
