.container {
  width: 40%;
  margin: 50px auto;
}

.mainNav{
  height: 100px;
  padding: 10px;
}

.center {
  width: 10rem;
  margin: 0 auto;
}

.centerText {
  text-align: center;
}

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}
